<h1>Пользователи</h1>

<table>
  <tr>
    <td>Аватар</td>
    <td>Имя пользователя</td>
    <td colspan="3">Действие</td>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%#= user.image %></td>
    <td><%= user.name %></td>
    <td>
      <%= link_to 'Смотреть', user_path(user), class: "btn btn-outline-primary" %>
      <%= link_to 'Изменить', edit_user_path(user), class: "btn btn-outline-warning" %>
      <%= link_to 'Удалить', user_path(user), class: "btn btn-outline-danger", method: :delete, 
                           data: {confirm: 'Вы действительно хотите удалить этого пользователя?'} %>
    </td>
  </tr>
  <% end %>
</table><br>

<%= link_to 'Назад', places_path, class: "btn btn-outline-info" %>

