<h1>Заведения</h1>

<table>
  <tr>
    <td>Фото</td>
    <td>Название заведения</td>
    <td>Категория</td>
    <td>Описание</td>
    <td colspan="3">Действие</td>
  </tr>
  <% @places.each do |place| %>
  <tr>
    <td><%#= place.image %></td>
    <td><%= link_to place.name, place_path(place) %></td>
    <td><%= place.category %></td>
    <td><%= place.description %></td>
    <td>
      <%= link_to 'Смотреть', place_path(place), class: "btn btn-outline-primary" %>
      <%= link_to 'Изменить', edit_place_path(place), class: "btn btn-outline-warning" %>
      <%= link_to 'Удалить', place_path(place), class: "btn btn-outline-danger", method: :delete, 
                           data: {confirm: 'Вы действительно хотите удалить это заведение?'} %>
    </td>
  </tr>
  <% end %>
</table>

